.FeaturedList  input,.FeaturedList   textarea,.FeaturedList   button {
    height: 25px;
    margin: 0px 5px 0px 0px;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    outline: none;
    border-radius: 0;
    background: none;
    border: 1px solid #282B33;
}
.FeaturedList  button,.FeaturedList   select {
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
    margin: 40px 40px;
}
.FeaturedList .buttonfeature{
    margin: 0px 40px;
}
.FeaturedList  button {
    background: none;
    border: 1px solid black;
    margin: 25px 0;
}
.FeaturedList  button:hover {
    background-color: #282B33;
    color: white;
}


.FeaturedList  .tools {
  overflow: auto;
  zoom: 1;
  margin: 2.5rem 2.5rem;
}
.FeaturedList  .search-area {
  float: left;
  width: 60%;
}
  
.FeaturedList  .centerlist{
    display: inline;
    justify-content: center;
    align-items: center;
}

.FeaturedList   .searchbutton {
  width: 60px;
  height: 47px;
  margin: 0 2rem;
}
.FeaturedList  input .search {
    width: 100%;
    padding: 10px;
    border: 1px solid #282B33;
}
@media screen and (max-width:400px) {
    .FeaturedList   .search-area {
    width: 100%;
  }
}

.FeaturedList  .products {
  width: 100%;
  font-family: Raleway;
  margin: 0px auto;
}
.FeaturedList  .product {
  display: inline-block;
  width: calc(24% - 13px);
  min-height: 10rem;
  margin: 10px 10px 30px 10px;
  vertical-align: top;
  border: 1px solid silver;
  padding: 1rem 0rem;
  border-radius: 0.5rem;
}


.FeaturedList  .product img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 200px;
  max-width: calc(100% - 20px);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.8);
  border-radius: 2px;
}
.FeaturedList  .product-content {
  text-align: center;
}
.FeaturedList  .product h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 0 0;
}
.FeaturedList  .product h3 small {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 7px 0 0 0;
}
.FeaturedList  .product .product-text {
  margin: 7px 0 0 0;
  color: #777;
}
.FeaturedList  .product .price {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.FeaturedList  .product .genre {
  font-size: 14px;
}


@media screen and (max-width:1150px) {
    .FeaturedList   .product {
    width: calc(33% - 23px);
  }
}


@media screen and (max-width:900px) {
  .FeaturedList   .product {
  width: calc(45% - 1rem);
}
}


@media screen and (max-width:500px) {
  .FeaturedList   .product {
  width: calc(100% - 43px);
}
}


/* TABLE VIEW */
@media screen and (min-width:401px) {
  .FeaturedList   .products-table .product {
    display: block;
    width: auto;
    margin: 10px 10px 30px 10px;
  }
  .FeaturedList   .products-table .product .product-img {
    display: inline-block;
    margin: 0;
    width: 10rem;
    height:7.5rem;
    vertical-align: middle;
    border: 1px solid grey;
    padding: 1rem;
  }
  .FeaturedList    .products-table .product img {
    width: auto;
    height: 10rem;
    max-width: 7.5rem;
  }
  .FeaturedList    .products-table .product-content {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: calc(100% - 145px);
  }
  .FeaturedList   .products-table .product h3 {
    margin: 0;
  }
}





/*rating css*/
.FeaturedList  .icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 250px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the icons horizontally */
}

.FeaturedList  .star-icons {
  flex: 1;
    text-align: left;
    flex-basis: 70%;
}

.FeaturedList  .star-icon {
  margin-right: 5px; /* Add some spacing between star icons */
  color: gold;
}

.FeaturedList  .trash-icon {
  flex: 1;
  text-align: right;
  color: red;
  position: relative;
  top: 5px;
}


.FeaturedList  .trash-icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width:600px) {
  .FeaturedList  .trash-icon {

  margin-right: 3rem;

  }
  
}

.fivestar{
  margin: 1rem auto;
}